#filter-editor {

  .buttons {
    padding:12px 16px;   
    
    .btn {
      display:inline-block;
      padding-right:10px;
      color:#4e78ac;
      font-size:13.5px;
      cursor:pointer;
    }
    
    .btn:hover .label {
      text-decoration:underline;
    }
   
  }
  
}

ul.chart.large {
  margin:15px 0 0 50px;
  padding:0;
    
  li {
    padding: 6px 0; 
    cursor:pointer;
  }
  
  .selection-toggle {
    color:#5a5a5a;
    float:left;
    margin:-1px 10px 0 0;
    width:20px;
    font-size:16.5px;
  }
  
  .meter {
    width:300px;

    .bar { 
      height:12px; 
      .rounded-corners(2px);
      .box-shadow(1px, 1px, 2px, 0, rgba(0,0,0,0.2));
    }
        
  } /* .meter */
    
  .label {
    width:300px;
    max-width:300px;
    color:#323232;
    font-size:12px;
    padding:0 0 3px 8px;
  }
  
  .label-other {
    color:#323232;
    font-size:12px;
    padding:0 0 3px 8px;  
  }
  
} /* ul.chart */
