@import "../globals-new.less";

#searchbox {
  position:relative;
  width:100%;
  margin:0;
  
  form {
    margin:0;
    padding:0;
  }

  input[type='text'] {
    width:100%;
    border-width:1px;
    border-style:solid;
    border-color:#fff;
    outline:none;
    padding:6px 32px 6px 10px;
    .box-shadow(0, 2px, 6px, 0, rgba(0,0,0,0.3));
    font-family:Roboto, Arial, sans-serif;
    font-size:15px;
    font-weight:300;
    .rounded-corners(2px);
  }
  
  input[type='text']:focus {
    border-width:1px;
    border-color:#4e78ac;
  }
  
  .icon {
    position:absolute;
    top:9px;
    right:12px;
    color:#b3b3b3;
  }
  
}
