#search-results {
  margin:6px 0;
  background-color:#fff;
  box-sizing:border-box;
  position:relative;
  .box-shadow(0, 2px, 6px, 0, rgba(0,0,0,0.3));
  .rounded-corners(2px);
  padding:10px 10px 0 10px;
  overflow-y:auto;
  
  ul {
    list-style-type:none;
    padding:0;
    margin:0;
  }
  
  li {
    padding:4px 6px 6px 6px;
    border-bottom:1px solid #e6e6e6;
    margin-bottom:6px;
    cursor:pointer;
    
    h3 {
      color:#4f4f4f;
      font-size:13px;
      font-weight:normal;
      margin:0;
      padding:3px 0 3px ;
      
      .icon { color:#999; }
      
    }
    
    p {
     margin:0;
     padding:0 1px;
     color:#999;
     line-height:17px;
    }
    
    .description { font-style:italic; }
    
    ul.uris {
      list-style-type:none;
      padding:4px 1px 0 1px;
      margin:0;

      line-height: 26px;
    
      li {
        display:inline-block;
      }
      
      .gazetteer-uri {
        font-size:11px;
      }

    }
    
    .snippet {
      font-style:italic;
      font-family:"Times New Roman", Times, serif;
      font-size:14px;
      padding:5px 0;
      
      strong { color:#3f3f3f; }
      
    }
    
  }
  
  li:hover { background-color:#fafafa; }
  
  li:last-child { border-width: 0px; }
  
}
