@import "../globals-new.less";

#toolbar {
  position:absolute;
  top:15px;
  right:30px;
  font-size:18px;

  .button {
    box-sizing:border-box;
    width:34px;
    height:34px;
    padding:8px 0;
    background-color:#fff;
  }
  
  .button:hover {
    background-color:#f2f2f2;
  }
  
  #toolbar-zoom .button { 
    padding:10px 0;
    font-size:15px; 
  }

  #toolbar-zoom-in {
    border-bottom: 1px solid #e6e6e6;
  }

}
