@import "_queryInput.less";
@import "_selectionInfo.less";
@import "_filterPanel.less";
@import "_searchResults.less";

html, body, #map {
  padding:0;
  margin:0;
  width:100%;
  height:100%;
  font-family:Roboto, Arial, sans-serif;
}

#controls {
  position:fixed;
  top:15px;
  left:30px;
  font-size:13px;
  width:360px;
}



