@(analytics: AccessLogAnalytics)
<html>
  <head>
    <title>Pelagios API » Admin » Access Analytics</title>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery-1.9.0.min.js")"></script>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/admin/main.css")" />
  </head>
  
  <body>
    <div id="content">
      <table>
        <tr>
          <td>Number of API hits:</td>
          <td>@analytics.apiHits</td>
        </tr>
        
        <tr>
          <td>Number of page hits:</td>
          <td>@analytics.pageHits</td>
        </tr>
        
        <tr>
          <td>Most frequent searches:</td>
          <td>@analytics.searches.map(_._1).mkString(", ")</td>
        </tr>
      </table>
    </div>    
  </body>
</html>
