@(gazetteers: Seq[models.geo.Gazetteer])(implicit flash: Flash, s: play.api.db.slick.Config.driver.simple.Session)
<html>
  <head>
    <title>Pelagios API » Admin » Gazetteers</title>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery-1.9.0.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/admin-utils.js")"></script>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/admin/main.css")" />
    <script type="text/javascript">
      function deleteGazetteer(name) {
        $.ajax({
          type: 'DELETE',
          url: '@controllers.admin.routes.GazetteerAdminController.index/' + name,
          success: function(result) { location.href = '@controllers.admin.routes.GazetteerAdminController.index'; },
          error: function(result) { console.log(result); }
        });
      }
    </script>
  </head>
  
  <body>
    <div id="content">    
      @flash.get("error").map { message =>
        <h2>Something's wrong with your uploaded file.</h2>
        <div class="error">@Html(message)</div>
      }
      
      @flash.get("success").map { message =>
        <div class="success">@message</div>
      }
      
      <div id="admin-actions">
        <h4>Import Gazetteer</h4>
        <ul>
          <li><a href="#" onclick="return false;" class="upload" data-input="upload-dump">Upload RDF File</a></li>
          <li><a href="#" onclick="return false;" class="register-url">Fetch RDF from URL</a></li>
        </ul>
      </div>
    
      @helper.form(action = controllers.admin.routes.GazetteerAdminController.uploadGazetteerDump(), 'enctype -> "multipart/form-data") {
        <input type="file" id="upload-dump" name="rdf">
      }
      
      <table class="list">
        <thead>
          <tr>
            <th>Name</th>
            <th>Total Places</th>
            <th></th> <!-- Actions -->
          </tr>
        </thead>
        <tbody>
          @for(gazetteer <- gazetteers) {
          	<tr>
              <td>@gazetteer.name</a></td>
              <td>@gazetteer.totalPlaces</td>
              <td class="right">
                <button class="button small" title="Re-Harvest Gazetteer"><span class="icon">&#xf01e;</span></button>
                <button class="button small red" onclick="deleteGazetteer('@gazetteer.name');" title="Drop Gazetteer"><span class="icon">&#xf05e;</span></button>
                
		        @*helper.form(action = controllers.admin.routes.DatasetAdminController.uploadAnnotations(dataset.id), 'enctype -> "multipart/form-data") {
                  <input type="file" id="import-annotations" name="annotations">
                }*@
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    <script>
      (function() {
        util.enableUploads();
      })();
    </script>
  </body>
</html>
