@import "../globals.less";

input[type=file] {
  display:none;
}

#content {
  padding:0 30px;

  #admin-actions {
    margin:20px 0;
    padding:20px;
    background-color:#fcf8f2;
    border-left:3px solid #f0ad4e;
    
    button {
      margin-right:20px;
    }
    
    h4 {
      font-size:18px;
      display:inline;
      color:#f0ad4e;
    }
    
  } /** #admin-actions **/

}
