@import "../globals.less";
@import "../common/table.less";

input[type=file] {
  display:none;
}

#content {
  padding:20px 30px;
 
  .error {
    background-color: #f2dede;
    color: #a94442;  
    padding:15px;
    border-left:3px solid #a94442;
    
    p {
      padding:8px 0 0 0;
      margin:0;
    }
    
  }
  
  .success {
    background-color: #dff0d8;
    color: #3c763d;
    padding:15px;
    border-left:3px solid #3c763d;
  }

  #admin-actions {
    margin:20px 0;
    padding:20px;
    background-color:#fcf8f2;
    border-left:3px solid #f0ad4e;
    
    h4 {
      font-size:18px;
      display:inline;
      color:#f0ad4e;
    }
    
    ul {
      position:relative;
      bottom:1px;
      display:inline;
      list-style:none;
      margin-left:20px;
      padding-left:0;
    }

    li {
      display:inline;
      padding:0 8px 8px 0;
      text-indent:0;
      color:#f0ad4e;
    }
    
    li a {
      color:#f0ad4e;
      font-size:13px;
    }

    li:before {
      font-family:"Font Awesome";
      content:'\f0fe';
      padding:0 10px 0 5px;
    }
    
    button {
      margin-right:20px;
    }
    
  } /** #admin-actions **/
  
  table.list {
    width:100%;
  
    td {

      form { display:none; }
    
    } /** td **/

    .icon.plus { cursor: pointer; }
    
    .icon.plus:after { content:'\f196'; }

    .icon.plus.less:after { content: '\f147'; }
  
  } /** table.list **/

}
