@(dimension: String, label: String, count: Int)(implicit request: RequestHeader)

@setFilter(key: String, value: String) = @{
  val baseURL = {
    val currentURL = request.uri
    if (currentURL.contains(key)) {
      // Remove the old filter for that key first
      val startIdx = currentURL.indexOf(key)
      val endIdx = currentURL.indexOf("&", startIdx)
      if (endIdx > -1)
        currentURL.substring(0, startIdx - 1) + currentURL.substring(endIdx)
      else
        currentURL.substring(0, startIdx - 1)
    } else {
      // This is a new filter, no need to remove anything from current URL
      currentURL
    }
  }
          
  if (baseURL.contains("?"))
    baseURL + "&" + key + "=" + value
  else
    baseURL + "?" + key + "=" + value
}

@dimension match {
  
  case index.IndexFields.ITEM_DATASET => {
    <a href="@setFilter("dataset", label.substring(label.lastIndexOf('#') + 1))">
      <span class="label">@label.substring(0, label.lastIndexOf('#'))</span>
      <span class="count number">@count</span>
    </a> 
  }
  
  case index.IndexFields.OBJECT_TYPE => {
    <a href="@setFilter("type", label.toLowerCase)">
      <span class="label">@label</span>
      <span class="count number">@count</span>
    </a> 
  }
  
  case _ => { 
    <a href="#">@label (@count)</a> // Should never happen unless we introduce new facets and forget to update this view
  }
  
}
