@(dimension: String, value: String)(implicit request: RequestHeader)

@removeFilter(key: String) = @{
  val currentURL = request.uri
  val startIdx = currentURL.indexOf(key)
  
  if (startIdx > -1) {
    val endIdx = currentURL.indexOf("&", startIdx)
    if (endIdx > -1)
      currentURL.substring(0, startIdx - 1) + currentURL.substring(endIdx)
    else
      currentURL.substring(0, startIdx - 1)
  } else {
    "#" // No change - should never happen
  }
}

<li>
  <span class="dimension">@dimension.toUpperCase - @value</span><a href="@removeFilter(dimension.toLowerCase)" title="Click to remove filter" class="icon">&#xf00d;</a>
</li>
