@(uri: String, inline: Boolean = false)

@{
  val cssClass =  if (inline) "gazetteer-uri inline" else "gazetteer-uri"
	   
  uri match {
    case s if s.startsWith("http://pleiades.stoa.org/places/") => 
      <span class={ cssClass + " pleiades" }>pleiades:{ s.substring(32) }</span>
      
    case s if s.startsWith("http://www.imperium.ahlfeldt.se/places/") => 
      <span class={ cssClass + " dare" }>dare:{ s.substring(39) }</span>
      
    case s if s.startsWith("http://gazetteer.dainst.org/place/") =>
      <span class={ cssClass + " idai" }>dai:{ s.substring(34) }</span>
      
    case s if s.startsWith("http://vici.org/vici/") =>
      <span class={ cssClass + " vici"}>vici:{ s.substring(21) }</span>
      
    case s if s.startsWith("http://data.pastplace.org/") =>
      <span class={ cssClass + " pastplace"}>pastplace:{ s.substring(35) }</span>
      
    case s => 
      <span class={ cssClass }>{ s }</span>
  }
}