@(item: index.IndexedObject)(implicit s: play.api.db.slick.Config.driver.simple.Session)

@item.objectType match {
  
    case index.IndexedObjectTypes.DATASET => {
      <li class="result dataset">
        <span class="title">
          <a href="@controllers.pages.routes.DatasetPagesController.getDataset(item.identifier)">@item.title</a>
        </span>
        @if(item.description.isDefined) { <span class="description">@item.description</span> }
      </li> 
    }
    
    case index.IndexedObjectTypes.ANNOTATED_THING => {
      @defining(AnnotatedThings.findByIdWithDataset(item.identifier).get) { case (thing, dataset) =>
        <li class="result item">
          <span class="title">
            @if(thing.homepage.isDefined) {
              <a href="@thing.homepage.get" target="_blank">@item.title</a>
            } else {
              @item.title
            }
          </span>
          @if(item.description.isDefined) { <span class="description">@item.description</span> }
          In: <a href="@controllers.pages.routes.DatasetPagesController.getDataset(dataset.id)">@dataset.title</a>
        </li> 
      }
    }
    
    case index.IndexedObjectTypes.PLACE => {
      <li class="result place">
        <span class="title">
          <a href="@controllers.pages.routes.PlacePagesController.getPlace(item.identifier)">@item.title</a>
          @tags.gazetteerURI(item.identifier)
        </span>
        @if(item.description.isDefined) { <span class="description">@item.description</span> }
      </li> 
    }
  
}