@(start: Option[Int], end: Option[Int])

@{
	 
  def prefix(date: Int) = if (date < 0) "BC" else "AD"
  
  if (start.isDefined && end.isDefined) {
  	val startPrefix = prefix(start.get)
  	val endPrefix = prefix(end.get)
  	
  	if (start == end) {
  	  startPrefix + " " + Math.abs(start.get)
  	} else {
  	  if (startPrefix == endPrefix) {
  	    Html(startPrefix + " " + Math.abs(start.get) + " &ndash; " + Math.abs(end.get))	
  	  } else {
  	    Html(startPrefix + " " + Math.abs(start.get) + " &ndash; " + endPrefix + " " + Math.abs(end.get))
  	  }
  	}
  } else {
    ""
  }
  
}