@import "../globals.less";
@import "../base-layout.less";
@import "../common/pagination.less";

#content {
  
  #top-n-places {
    padding-bottom:30px;
  
    .place-title {
      text-align:right;
      padding:5px 8px;
    }
  
    .place-count {
      width:320px;
      
      .meter {
        width:240px;
        white-space:nowrap;
        margin-bottom:1px;
        
        .bar {
          .rounded-corners(3px);
          .gradient(#5483bd, #4a6b93);
          .box-shadow(2px, 2px, 4px, rgba(0, 0, 0, 0.4));
          display:inline-block;
          height:10px;
          background-color:#2a4c77;
        }
        
        span {
          display:inline-block;
          height:10px;
          margin-left:8px;
        }
          
      } /* .meter */
    
    } /* .place-count */
    
    
  }

  #map {
    float:right;
    width:360px;
    height:240px;
    border:1px solid #999;
    margin-bottom:30px;
  }
  
  #items-list {
    clear:both;
    padding-top:20px;
    
    h2, .pagination { display:inline-block; }
    
    .pagination {
      position:relative;
      top:6px;
      margin-left:20px;
    }
  
    table {
      margin:0;
      padding:0;
      clear:both;
      width:100%;
      
      tr {
        padding:8px 0;
      }
      
      .left { text-align:left; }
      .center { text-align:center; }
      
    } /* table */
    
  } /* #items-list */

} /* #content */
