@import "../globals.less";
@import "../pagination.less";
@import "../base-layout.less";

#dataset-list {
  border-collapse:collapse;
  
  tr {
    border-bottom:1px solid #ccc;
    color:#323232;
  
    td {
      vertical-align:top;
      line-height:140%;
      padding-bottom:15px;
    
      h3 {
        margin:0;
        padding:0;
      
        a {
          color:#7f7f7f;
          text-decoration:none;
          font-size:16px;
          font-weight:bold;
        }
      
      } /* h3 */
    
      h4 {
        margin:0;
        padding:0;
        font-size:13px;
        font-weight:normal;
      } /* h4 */
      
      .license img {
        padding-top:8px;
      }
  
    } /* td */
    
    td.stats {
      white-space: nowrap;
      padding-left:10px;
      font-size:11px;
      
      em {
        font-size:16px;
        font-weight:bold;
        font-style:normal;
      }
      
    }
    
  } /* tr */
  
} /* #dataset-list */


