@import "../globals.less";
@import "../common/table.less";
@import "../base-layout.less";
@import "../gazetteer-uri.less";

#header {

  #header-body {
    padding-top:20px;
    padding-bottom:10px;

    h3 {
      font-size:16px;
      margin:0;
      padding:0;
    }
  
    h1 {
      padding:10px 0 !important;
    }
  
    p.description {
      padding:0 0 10px 0;
      margin:0;
      line-height:180%;
      
      a.source-link {
        display:block;
        font-weight:bold;
      }
    }
  
  } /* #header-boddy */
   
} /* #header */

#content {

  .number { font-weight:bold; }
  
  #map {
    width:440px;
    height:220px;
    border:1px solid #ccc;
    margin-bottom: 30px;
  }

  #network {
    position:absolute;
    top:0;
    right:0;
    width:440px;
    height:220px;
    border:1px solid #ccc;
  }
  
  .close-matches {
    padding-bottom:30px;
    
    a {
      padding-right:10px;
    }
    
  } /* .close-matches */
  
  .references table {
    width:100%;
    border-collapse:collapse;
    margin-bottom:80px;
  
    tr { 
      border-color:#e2e2e2;
      border-style:solid;
      border-width:1px 0;
    } /* tr */
    
    th, td {
      font-size:13px;
      padding:6px 10px 6px 10px;
      text-align:left;
    } /* th, td */
    
  } /* .references table */

} /* #content */

svg {

  circle {
    fill:#ccc;
    stroke:#fff;
    stroke-width:1.5px;
  }
  
  circle.pleiades { fill:#1f77b4; } 
  circle.dare { fill:#f58929; }
  circle.idai { fill:#2ca02c; }
  circle.vici { fill:#d33d3d; }
  circle.pastplace { fill:#9467bd; }
  circle.trismegistos { fill:#bcbd22; }
  circle.virtual { stroke:#a2a2a2; fill:#fff; }

  .link {
    stroke-width:1.5px;
    stroke:#a2a2a2;
  }
  
  .virtual {
    stroke-dasharray: 0,2 1;
  }
  
  marker {
    fill:#a2a2a2;
  }

  text {
    fill:#3f3f3f;
    font:12px sans-serif;
    pointer-events: none;
    text-shadow:0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  }
  
}
