@import "globals.less";

.gazetteer-uri {
  color:#fff;
  .rounded-corners(4px);
  font-size:13px;
  padding:4px 8px 5px 8px;
  background-color:#ccc;
  text-shadow:1px 1px rgba(0,0,0,0.4);
  border:1px solid #eee;
}

.gazetteer-uri.inline {
  padding:2px 5px 3px 5px;
  margin-left:5px;
  font-size:11px;
  position:relative;
  bottom:2px;
}

.gazetteer-uri.pleiades {
  background-color:#428bca;
  border-color:#316a9a;
}


.gazetteer-uri.dare {
  background-color:#f0ad4e;
  border-color:#b77920;
}

.gazetteer-uri.idai {
  background-color:#4fc154;
  border-color:#37813b;
}

.gazetteer-uri.vici {
  background-color:#d95555;
  border-color:#943d3d;
}