@()
<html>
  <head>
  </head>
  
  <body>
    <form>
      <h1>Advanced Search</h1>
      <ol>
        <li>
          <label for="query">Query</label>
          <input name="query" id="query" type="text">
        </li>
        
        <li>
          <label for="dataset">Dataset</label>
          <input name="dataset" id="dataset" type="text" placeholder="Find a dataset...">
        </li>
    
        <li>
          <label for="place">Place</label>
          <input name="place" id="place" type="text" placeholder="Find a place...">
        </li>
      </ol>
    </form>
  </body>
</html>