@(thing: models.core.AnnotatedThing, thumbnails: Seq[models.core.Image], datasetHierarchy: Seq[models.core.Dataset])
<html>
  <head>
    <title>Item &raquo; @thing.title</title>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/items/item-details.css")"/>   
    <link rel="stylesheet" href="@routes.Assets.at("javascripts/lib/leaflet/leaflet.css")"/>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery-1.9.0.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/leaflet/leaflet.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/leaflet/leaflet-heat.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/numeral.min.js")"></script>
  </head>
  <body>
    <div id="header">
      <div id="header-menu">
        <div class="row">
          <a class="pelagios-logo" href="@controllers.pages.routes.LandingPageController.index">PELAGIOS API</a>
          <ul>
            <li><a href="@controllers.pages.routes.LandingPageController.index">Home</a></li>
            <li><a href="@controllers.pages.routes.DatasetPagesController.listAll">Datasets</a></li>
            <li><a href="#">Places</a></li>
          </ul>
        </div> <!-- .row -->
      </div> <!-- #header-menu -->
      
      <div id="header-body">
        <div class="row">
          <h2>
            @for(dataset <- datasetHierarchy) {
          	  <a href="@controllers.pages.routes.DatasetPagesController.showDataset(dataset.id)">@dataset.title</a> &raquo;
          	}
          </h2>
          <h1>
            @thing.title
            @if(thing.homepage.isDefined) {
              <a href="@thing.homepage.get" target="_blank">Source <span class="icon">&#xf08e;</span></a></h1>
            }
          </h1>
          @thing.description.map { description => <p class="description">@description</p> }
          <p class="time">
            @tags.timespan(thing.temporalBoundsStart, thing.temporalBoundsEnd)
          </p>
          <!--  p class="stats">
            <span><em class="number"></em> items with</span>
            <span><em class="number"></em> references to</span>
            <span><em class="number"></em> unique places</span>
          </p -->
        </div> <!-- .row -->
      </div> <!-- #header-body -->
    </div> <!-- #header -->
    
    <div id="content">      
      <div class="row">
        @for(thumbnail <- thumbnails) {
      	  <img style="max-width:400px" src="@thumbnail.url">
      	  @thing.homepage.map { homepage => <p><a href="@homepage" target="_blank">Visit Source <span class="icon">&#xf08e;</span></a></p> }
        }
      </div>
    </div> <!-- #content -->
  </body>
</html>
