@(thing: AnnotatedThing, datasetHierarchy: Seq[Dataset])
<html>
  <head>
    <title>Item &raquo; @thing.title</title>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/datasets/dataset-details.css")"/>   
    <link rel="stylesheet" href="@routes.Assets.at("javascripts/lib/leaflet/leaflet.css")"/>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery-1.9.0.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/leaflet/leaflet.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/leaflet/leaflet-heat.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/numeral.min.js")"></script>
  </head>
  <body>
    <div id="header">
      <div id="header-menu">
        <div class="row">
          <a class="pelagios-logo" href="@controllers.pages.routes.HomepageController.index">PELAGIOS API</a>
          <ul>
            <li><a href="@controllers.pages.routes.HomepageController.index">Home</a></li>
            <li><a href="@controllers.pages.routes.DatasetPagesController.listAll">Datasets</a></li>
            <li><a href="#">Places</a></li>
          </ul>
        </div> <!-- .row -->
      </div> <!-- #header-menu -->
      
      <div id="header-body">
        <div class="row">
          <h2>
            @for(dataset <- datasetHierarchy) {
          	  <a href="@controllers.pages.routes.DatasetPagesController.getDataset(dataset.id)">@dataset.title</a> &raquo;
          	}
          </h2>
          <h1>@thing.title</h1>
          [ Description goes here, if any ]
          <p class="time">
            from - to
          </p>
          <p class="stats">
            <span><em class="number"></em> items with</span>
            <span><em class="number"></em> references to</span>
            <span><em class="number"></em> unique places</span>
          </p>
        </div> <!-- .row -->
      </div> <!-- #header-body -->
    </div> <!-- #header -->
    
    <div id="content">
      <div class="row"><h2>Most Frequently Referenced Places</h2></div>
      <div class="row">
        <div id="map-container" class="float-right">
          <div id="map"></div>
          <div id="map-toggle-fullscreen">
            <a href="#" onclick="return false;"><span class="icon">&#xf0b2;</span> Full Screen</a>
          </div>
          <div id="temporal-profile"></div>
        </div>
        
        <table id="top-n-places"></table>
      </div>
    
      <div class="row" id="items-list">
        <h2>Items in this Dataset</h2>
        <div class="pagination"></div>
        <table class="styled">
          <thead>
            <tr>
              <th class="left">Title</th>
              <th class="center">Place References</th>
              <th class="center">Unique Places</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div> <!-- .row#items-list -->
    </div> <!-- #content -->
  </body>
</html>
