@()
<html>
  <head>
    <title>Pelagios</title>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/map-new/main.css")"/>   
    <link rel="stylesheet" href="@routes.Assets.at("javascripts/lib/leaflet/leaflet.css")"/>
    
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/StackBlur.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery-1.9.0.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/typeahead/typeahead.jquery.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/numeral.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/chart/chart.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/leaflet/leaflet.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/leaflet/leaflet-canvasOverlay.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery-ui.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery.ui.touch-punch.min.js")"></script>

    @helper.requireJs(core = routes.Assets.at("javascripts/require.js").url, module = routes.Assets.at("javascripts/map-search").url)
  </head>
  <body>
    <div id="map"></div>
    
    <div id="controls"></div>
    
    <!-- div id="controls">
      
      <div id="text-query">
        <form>
        	<div class="form-container">
            <span class="icon">&#xf002;</span>
            <input type="text" id="query" name="query" placeholder="Search..." autocomplete="off">
          </div>
        </form>
      </div> 
      
      <div id="result-stats"></div>
      
      <div id="time-histogram">
        <span class="label from"></span>
        <canvas width="180" height="120"></canvas>
        <span class="label to"></span>
        
        <div class="intervalbounds"></div>
        
        <div class="handle from">
          <div class="label"></div>
        </div>
        
        <div class="handle to">
          <div class="label"></div>
        </div>
      </div>
      
      <div id="facet-charts">
        <table>
          <tbody class="thead">
            <tr><td colspan="2"><h3 class="facet-dimension">Object Types</h3></td></tr>
          </tbody>
        
          <tbody class="chart" id="type-chart"></tbody>
        
          <tbody>
            <tr><td colspan="2"><h3 class="facet-dimension">Source Datasets</h3></td></tr>     
          </tbody>
        
          <tbody class="chart" id="source-chart" ></tbody>
        </table>
      </div>
      
      <ul id="result-list"></ul>
      
    </div -->
  </body>
</html>
