@(dataset: Option[String], annotatedThing: Option[String])
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>   
    <link rel="stylesheet" href="@routes.Assets.at("javascripts/lib/leaflet/leaflet.css")"/>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery-1.9.0.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/leaflet/leaflet.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/leaflet/leaflet-heat.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/heatmap/heatmap.js")"></script>
    <style>
    html, body {
      margin:0;
      padding:0;
    }
    </style>
  </head>
  <body>
    <div id="map" style="width:100%; height:100%;"></div>
    <script>
      @if(annotatedThing.isDefined) {
      	loadHeatmap('http://localhost:9000/api-v3/items/@annotatedThing.get/places');
      } else {
        @if(dataset.isDefined) {
          loadHeatmap('http://localhost:9000/api-v3/datasets/@dataset.get/places');
        }
      }
    </script>
  </body>
</html>