@(datasets: Int, items: Int, gazetteers:Int, places: Int)
<html>
  <head>
    <title>Pelagios - Home</title>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/home/index.css")"/>   
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery-1.9.0.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/typeahead/typeahead.jquery.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/numeral.min.js")"></script>
    @helper.requireJs(core = routes.Assets.at("javascripts/require.js").url, module = routes.Assets.at("javascripts/search").url)
  </head>
  <body>
    <div id="header">
      <div id="header-menu">
        <div class="row">
          <a class="pelagios-logo" onclick="return false;" href="@controllers.pages.routes.HomepageController.index">PELAGIOS</a>
          <ul>
            <li class="current"><a onclick="return false;" href="@controllers.pages.routes.HomepageController.index">Home</a></li>
            <li><a href="@controllers.pages.routes.DatasetPagesController.listAll">Map</a></li>
            <li><a href="http://pelagios-project.blogspot.co.uk">Blog</a></li>
            <li><a href="#">About</a></li>
          </ul>
        </div> <!-- .row -->
      </div> <!-- #header-menu -->
      
      <div id="header-body">
        <div id="search" class="row">
          <form method="GET" action="@{controllers.pages.routes.HomepageController.index}new/search">
          	<div class="form-container">
              <input type="text" name="q" autocomplete="off" placeholder="@tags.queryExample()">
            </div>
          </form>
          
          <p class="stats">
            Search <em class="number">@places</em> places across <em>@gazetteers</em> gazetteers 
            and <em class="number">@items</em> objects in <em class="number">@datasets</em> datasets.
          </p>
        </div> <!-- .row -->
      </div> <!-- #header-body -->
    </div> <!-- #header -->
  </body>
</html>
