@(datasets: Int, items: Int, places: Int)
<html>
  <head>
    <title>Pelagios API - Home</title>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/home/main.css")"/>   
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery-1.9.0.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/numeral.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/page-utils.js")"></script>
  </head>
  <body>
    <div id="header">
      <div id="header-menu">
        <div class="row">
          <span class="pelagios-logo">PELAGIOS API</span> 
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Datasets</a></li>
            <li><a href="#">Places</a></li>
          </ul>
        </div> <!-- .row -->
      </div> <!-- #header-menu -->
      
      <div id="header-body">
        <div class="row">
          @helper.form(action = controllers.pages.routes.HomepageController.search()) {
          	<div class="form-container">
              <input type="text" name="query" autocomplete="off">
              <input type="submit" value="Find!">
            </div>
          }
          
          <p class="stats">
            Search <em class="number">@places</em> places and <em class="number">@items</em> items in <em class="number">@datasets</em> datasets.
          </p>
        </div> <!-- .row -->
      </div> <!-- #header-body -->
    </div> <!-- #header -->
    <script>
      (function() {
        util.formatNumber();
      })();
    </script>
  </body>
</html>
