@(datasets: Int, items: Int, gazetteers:Int, places: Int)
<html>
  <head>
    <title>Pelagios API - Home</title>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/home/index.css")"/>   
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery-1.9.0.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/numeral.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/page-utils.js")"></script>
  </head>
  <body>
    <div id="header">
      <div id="header-menu">
        <div class="row">
          <a class="pelagios-logo" onclick="return false;" href="@controllers.pages.routes.HomepageController.index">PELAGIOS API</a>
          <ul>
            <li class="current"><a onclick="return false;" href="@controllers.pages.routes.HomepageController.index">Home</a></li>
            <li><a href="@controllers.pages.routes.DatasetPagesController.listAll">Datasets</a></li>
            <li><a href="#">Places</a></li>
          </ul>
        </div> <!-- .row -->
      </div> <!-- #header-menu -->
      
      <div id="header-body">
        <div class="row">
          <form method="GET" action="@{controllers.pages.routes.HomepageController.index}pages/search">
          	<div class="form-container">
              <input type="text" name="query" autocomplete="off">
              <input type="submit" value="Find!">
            </div>
          </form>
          
          <p class="stats">
            Search <em class="number">@places</em> places across <em>@gazetteers</em> gazetteers 
            and <em class="number">@items</em> objects in <em class="number">@datasets</em> datasets.
          </p>
        </div> <!-- .row -->
      </div> <!-- #header-body -->
    </div> <!-- #header -->
    <script>
      (function() {
        util.formatNumbers();
      })();
    </script>
  </body>
</html>
