@()
<html>
  <head>
    <title>Welcome to Peripleo</title>
    <meta http-equiv="refresh" content="2;URL='http://peripleo.pelagios.org/'" />
  </head>

  <body>
    <!--
    <p>Welcome to the future home of Peripleo.</p>

    <iframe src="https://player.vimeo.com/video/130537120" width="500" height="336" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

    <p>
      <a href="https://vimeo.com/130537120">Peripleo Preview: &quot;Exploration&quot; (June 12, 2015)</a> from
      <a href="https://vimeo.com/user40963435">Rainer Simon</a> on <a href="https://vimeo.com">Vimeo</a>.
    </p>

    <p>
      More screencasts:
      <ul>
        <li><a href="https://vimeo.com/130327310">Sneak Preview #1</a></li>
        <li><a href="https://vimeo.com/130537705">Sneak Preview: search</a></li>
        <li><a href="https://vimeo.com/130795761">Sneak Preview: evolution over time</a></li>
      </ul>
    </p>
    -->
    <p>You are being redirected to <a href="http://peripleo.pelagios.org/">the new version of
      Peripleo</a>.</p>
  </body>
</html>
