@()
<html>
  <head>
    <title>Pelagios API - Map</title>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery-1.9.0.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/leaflet/leaflet.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/tinycolor.js")"></script>
    <link rel="stylesheet" href="@routes.Assets.at("javascripts/lib/leaflet/leaflet.css")"/>
    <style>
      html, body {
        width:100%,
        height:100%;
        padding:0;
        margin:0;
      }
      
      #map {
        width:100%;
        height:100%;
      }
    </style>
    <script>
      jQuery(document).ready(function() {
        // Quick hack        
        var awmcLayer = L.tileLayer('http://a.tiles.mapbox.com/v3/isawnyu.map-knmctlkh/{z}/{x}/{y}.png', {
          attribution: 'Tiles and Data &copy; 2013 <a href="http://www.awmc.unc.edu" target="_blank">AWMC</a> ' +
                       '<a href="http://creativecommons.org/licenses/by-nc/3.0/deed.en_US" target="_blank">CC-BY-NC 3.0</a>'});
    		  
        var map = new L.Map('map', {
          center: new L.LatLng(41.893588, 12.488022),
          zoom: 3,
          layers: [awmcLayer]
        });
        
        jQuery.getJSON('@controllers.pages.routes.MapController.masterHeatmap', function(data) {
          var markers = [], minWeight = 9007199254740992, maxWeight = 0;
          
          jQuery.each(data, function(idx, pt) {
            if (pt.weight > maxWeight)
              maxWeight = pt.weight;
              
            markers.push([pt.lat, pt.lon, pt.weight]);
          });
          
          markers.sort(function(a, b) {
            return a[2] - b[2];
          });
          
          jQuery.each(markers, function(idx, marker) {
            // Between 0 and 2
            var weightLog = Math.log10(marker[2] / maxWeight) + 2;
            var relative = 0.25 + weightLog / 4
            
            var colStr = 'hsl(35, 90%,' + relative * 100 + '%)';

            var opts = {
              stroke: false,
              radius: Math.max(3, 4 * weightLog),
              fillOpacity: 0.6,
              fillColor: tinycolor(colStr)
            }
            
            L.circleMarker(marker, opts).addTo(map);
          });
          
          // L.heatLayer(latLons, { max: maxWeight/40, maxZoom: 6, radius: 8, blur: 8 }).addTo(map);
        });
      });
    </script>
  </head>
  <body>
    <div id="map"></div>
  </body>
</html>
