@(results: Page[(index.objects.IndexedObject, Option[String])], facets: Option[index.FacetTree], filters: Map[String, String], heatmap: index.Heatmap, took: Long)(implicit request: RequestHeader)
<html>
  <head>
    <title>Pelagios Search</title>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/search/main.css")"/>   
    <link rel="stylesheet" href="@routes.Assets.at("javascripts/lib/leaflet/leaflet.css")"/>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery-1.9.0.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/typeahead/typeahead.jquery.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/numeral.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/leaflet/leaflet.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/heatmap/heatmap.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/heatmap/leaflet-heatmap.js")"></script>
    @helper.requireJs(core = routes.Assets.at("javascripts/require.js").url, module = routes.Assets.at("javascripts/search").url)
    <script>
      jQuery(document).ready(function() {
        // Quick hack        
        var awmcLayer = L.tileLayer('http://a.tiles.mapbox.com/v3/isawnyu.map-knmctlkh/{z}/{x}/{y}.png', {
              attribution: 'Data &copy; <a href="http://www.awmc.unc.edu" target="_blank">AWMC</a> ' +
                           '<a href="http://creativecommons.org/licenses/by-nc/3.0/deed.en_US" target="_blank">CC-BY-NC</a>'}),
                           
              cfg = {
                radius: 2,
                minOpacity: 0.15,
                maxOpacity: 0.85, 
                scaleRadius: true,
                useLocalExtrema: true,
                latField: 'lat',
                lngField: 'lng',
                blur:1,
                valueField: 'count'
              },
              
              points = [],
              
              heatmapLayer = new HeatmapOverlay(cfg),
                           
              map = new L.Map('map', {
                center: new L.LatLng(41.893588, 12.488022),
                zoom: 3,
                layers: [awmcLayer, heatmapLayer]
              });
              
        @if(!heatmap.isEmpty) {
          @defining(heatmap.cells.map(_._3)) { weights =>
            var minWeight = @weights.min;
            var maxWeight = @weights.max;
            var delta = maxWeight - minWeight + 0.00001; // to take care of min = max cases
          }
        
          @for((lng, lat, weight) <- heatmap.cells) {
            points.push({ lat: @lat, lng: @lng, count: @weight });
            // L.circleMarker(L.latLng(@lat, @lng), { stroke: false, radius: 3, fillColor:'#7b4173', fillOpacity: 1 - ((maxWeight - @weight)/delta) * 0.65 }).addTo(map);
          }
        
          heatmapLayer.setData({
            max: maxWeight,
            data: points
          });
        }
      });
    </script>
  </head>
  <body>
    <div id="header">
      <div id="logo">
        <a onclick="return false;" href="@controllers.pages.routes.HomepageController.index">PELAGIOS</a>
      </div>
     
      <div id="search">
        <form method="GET" action="/api-v3/new/search">
        	<div class="form-container">
            <input type="text" id="query" name="q" value="@results.query">
          </div>
        </form>
      </div>
      
      <div id="nav">
        <ul>
          <li><a href="@controllers.pages.routes.HomepageController.index">Map</a></li>
          <li><a href="http://pelagios-project.blogspot.co.uk">Blog</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </div>
    </div> <!-- #header -->

    <div id="content">    
      <div id="left-column">
        <div id="query-took">
          <span class="number">@results.total</span> Results (@{ took.toDouble / 1000 } seconds)
        </div>

        @if(facets.isDefined) {        
          <ul id="facets">
            @for(dimension <- facets.get.dimensions()) {
              <li class="dimension">
                <h3>@dimension.toUpperCase</h3>
                <ul>
                  @for((label, count) <- facets.get.getTopChildren(dimension)) {
                    <li class="classification">@tags.facetItem(dimension, label, count)</li>
                  }
                </ul>
              </li>
            }
          </ul>
        }
      </div>
      
      <div id="center-column">
        @if(filters.size > 0) {
          <div id="filters">
            <h2>Filters</h2>
            <div>
              <ul>
                @for((dimension, value) <- filters) {
                  @tags.filterItem(dimension, value)
                }
              </ul>
            </div>
          </div> <!-- #filters -->
        }
        
        <ul id="results" @if(filters.size > 0) { class="with-filters" }>
          @for((item, snippet) <- results.items) {
        	  @tags.searchresultItem(item, snippet)
          }
        </ul>
      </div>
      
      <div id="right-column">
        <div id="map"></div>
      </div>
      
    </div> <!-- #content -->
  </body>
</html>
