@(place: index.places.IndexedPlace, network: index.places.PlaceNetwork)
<html>
  <head>
    <title>Place &raquo; @place.title</title>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/places/place-details.css")"/>  
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery-1.9.0.min.js")"></script> 
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/d3.v3.min.js")"></script> 
    <script type="text/javascript" src="@routes.Assets.at("javascripts/page-utils.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/place-network.js")"></script>
  </head>
  <body>
    <div id="header">
      <div id="header-menu">
        <div class="row">
          <a class="pelagios-logo" href="@controllers.pages.routes.HomepageController.index">PELAGIOS API</a>
          <ul>
            <li><a href="@controllers.pages.routes.HomepageController.index">Home</a></li>
            <li><a href="@controllers.pages.routes.DatasetPagesController.listAll">Datasets</a></li>
            <li><a href="#">Places</a></li>
          </ul>
        </div> <!-- .row -->
      </div> <!-- #header-menu -->
      
      <div id="header-body">
        <div class="row">
          <h1>@place.title</h1>
          <a href="@place.uri" target="_blank">@place.uri</a>
        </div> <!-- .row -->
      </div> <!-- #header-body -->
    </div> <!-- #header -->
    
    <div id="content">
      <div class="row">
        <div id="network"></div>
      </div>
    </div> <!-- #content -->
    
    <script type="text/javascript">
      (function() {
        $.getJSON('@routes.PlaceController.getNetwork(place.uri)', function(data) {
          var network = new window.PlaceNetwork('network', data);
        });        
      })();
    </script>
  </body>
</html>
