@(place: index.places.IndexedPlace, network: index.places.IndexedPlaceNetwork)
<html>
  <head>
    <title>Place &raquo; @place.label</title>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/places/place-details.css")"/>
    <link rel="stylesheet" href="@routes.Assets.at("javascripts/lib/leaflet/leaflet.css")"/>  
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery-1.9.0.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/leaflet/leaflet.js")"></script> 
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/numeral.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/d3.v3.min.js")"></script> 
    <script type="text/javascript" src="@routes.Assets.at("javascripts/page-utils.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/place-map.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/place-network.js")"></script>
  </head>
  <body>
    <div id="header">
      <div id="header-menu">
        <div class="row">
          <a class="pelagios-logo" href="@controllers.pages.routes.LandingPageController.index">PELAGIOS API</a>
          <ul>
            <li><a href="@controllers.pages.routes.LandingPageController.index">Home</a></li>
            <li><a href="@controllers.pages.routes.DatasetPagesController.listAll">Datasets</a></li>
            <li><a href="#">Places</a></li>
          </ul>
        </div> <!-- .row -->
      </div> <!-- #header-menu -->
      
      <div id="header-body">
        <div class="row">
          @tags.gazetteerURI(place.uri)
          <h1>@place.label</h1>
          <h3 class="names">@place.names.map(_.chars).mkString(", ")</h3>
          <p class="description">
            @place.description
            @if(place.centroid.isDefined) {
              <br/>
              <span class="icon">&#xf041;</span> LAT @place.centroid.get.y LON @place.centroid.get.x</span>
            }
            <a class="source-link" href="@place.uri" target="_blank">@place.uri</a>
          </p>
        </div> <!-- .row -->
      </div> <!-- #header-body -->
    </div> <!-- #header -->
    
    <div id="content">
      <div class="row">        
        <div id="map"></div>
        <div id="network"></div>
      </div> <!-- .row -->

      <div class="row">      
        <h2>@place.label in Other Gazetteers</h2>  
        <div class="close-matches">      
          @for(place <- network.places.filter(_.uri != place.uri)) {
            <a href="@controllers.pages.routes.PlacePagesController.showPlace(place.uri)" title="@place.label">
             @tags.gazetteerURI(place.uri)
            </a>
          }
        </div>
      </div> <!-- .row -->
      
      <div class="row references">
        <h2>References</h2>
        <table>
          <thead>
            <tr>
              <th>Publisher</th>
              <th>Dataset</th>
              <th>No. of Items</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div> <!-- #content -->
    
    <script type="text/javascript">
      (function() {
        $.getJSON('@routes.PlaceController.getNetwork(place.uri)', function(data) {
          new window.PlaceNetwork('network', data.graph.nodes, data.graph.edges);
        });
        
        @if(place.centroid.isDefined) {
          var centroid = [@place.centroid.get.y, @place.centroid.get.x];
          var map = new window.PlaceMap('map', centroid);   
        } 
        
        $.getJSON('@routes.PlaceController.listOccurrences(place.uri, true)', function(data) {
          var h2 = $('.references h2'),
              table = $('.references tbody'),
              references = 0;
           
          $.each(data.occurrences, function(idx, r) {    
            var row =
              '<tr>' + 
              '  <td>' + r.dataset.publisher + '</td>' +
              '  <td><a href="@{controllers.pages.routes.LandingPageController.index}pages/search?dataset=' + r.dataset.id + '&places=' + encodeURIComponent('@place.uri') + '">' + r.dataset.title + '</a></td>' +
              '  <td><span class="number">' + r.num_referencing_items + '</span></td>' +
              '</tr>';
              
            references += r.num_referencing_items;
            table.append(row);
          });
        
          h2.html('<span class="number">' + references + '</span> References');
          util.formatNumbers();
        });
      })();
    </script>
  </body>
</html>
