@(annotatedThingId: String)
<html>
  <head>
    <title>Place Adjacency</title>
    <link rel="related" type="application/json" href="@controllers.routes.AnnotatedThingController.getAdjacencyGraph(annotatedThingId)" />
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery-1.9.0.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/d3.v3.min.js")"></script>
    @helper.requireJs(core = routes.Assets.at("javascripts/require.js").url, module = routes.Assets.at("javascripts/placeAdjacencyNetwork").url) 
    <style>
    .node circle {
      stroke: #fff;
      stroke-width: 1.5px;
    }

    .link {
     stroke: #999;
     stroke-opacity: .4;
    }

    text {
      fill:black;
      font:11px sans-serif;
      text-shadow:0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
    }
    </style>
  </head>
  <body>    
    <div id="graph" style="width:100%; height:100%;"></div>
  </body>
</html>
