@(results: Page[index.objects.IndexedObject], took: Long)(implicit s: play.api.db.slick.Config.driver.simple.Session)
<html>
  <head>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/home/searchresults.css")"/>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery-1.9.0.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery.twbsPagination.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/numeral.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/page-utils.js")"></script>
  </head>
  <body>
    <div id="header">
      <div id="header-menu">
        <div class="row">
          <a class="pelagios-logo" href="@controllers.pages.routes.HomepageController.index">PELAGIOS API</a>
          <ul>
            <li><a href="@controllers.pages.routes.HomepageController.index">Home</a></li>
            <li><a href="@controllers.pages.routes.DatasetPagesController.listAll">Datasets</a></li>
            <li><a href="#">Places</a></li>
          </ul>
        </div> <!-- .row -->
      </div> <!-- #header-menu -->
      
      <div id="header-body">
        <div class="row">
          <em class="number">@results.total</em> results for <span class="query">@results.query</span> (took @{ took.toDouble / 1000 }s)
        </div>
      </div>
    </div> <!-- #header -->
    
    <div id="content">
      <div class="row pagination">
        <span class="label">Showing Results <strong>@{results.offset + 1}</strong> to <strong>@{ Math.min(results.total, results.offset + results.limit) }</strong></span>
        <ul></ul>
      </div>
      
      <div class="row">
        <div class="sidebar">
          <div id="map"></div>
        </div>
      
        <ul id="results">
          @for(item <- results.items) {
          	@tags.searchresultItem(item)
          }
        </ul>
      </div> <!-- .row -->
    </div> <!-- #content -->
    
    <script>
      var totalPages = @{ Math.ceil(results.total.toDouble / results.limit) };
      $('.pagination ul').twbsPagination({
        totalPages: totalPages,
        startPage: @{ Math.ceil(results.offset.toDouble / results.limit) + 1 }, 
        first: '&#xf100;',
        prev: '&#xf104;',
        next: '&#xf105;',
        last: '&#xf101;',
        onPageClick: function (event, page) {
          var offset = (page - 1) * @results.limit;
          $('#results').html('');
          location.search = util.buildPageRequestURL(offset, @results.limit);
        }
      });
      
      util.formatNumbers();
    </script>
  </body>
</html>
