@(objects: Page[global.index.IndexedObject])
<html>
  <head>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/searchresults/main.css")"/>
  </head>
  <body>
    <div id="header">
      <div id="header-menu">
        <div class="row">
          <span class="pelagios-logo">PELAGIOS API</span> 
          <ul>
            <li><a href="@controllers.pages.routes.HomepageController.index">Home</a></li>
            <li><a href="#">Datasets</a></li>
            <li><a href="#">Places</a></li>
          </ul>
        </div> <!-- .row -->
      </div> <!-- #header-menu -->
    </div> <!-- #header -->
    
    <div id="content">
      <div class="row">
        <div class="totals">
          @objects.total Total Results
        </div> <!-- .totals -->
        
        <table id="results">
          <tbody>
            @for(obj <- objects.items) {
              <tr><td>@obj.title</td></tr>
            }
          </tbody>
        </table>
      </div> <!-- .row -->
    </div> <!-- #content -->
  </body>
</html>