@(objects: Page[index.IndexedObject])
<html>
  <head>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/home/searchresults.css")"/>
  </head>
  <body>
    <div id="header">
      <div id="header-menu">
        <div class="row">
          <span class="pelagios-logo">PELAGIOS API</span> 
          <ul>
            <li><a href="@controllers.pages.routes.HomepageController.index">Home</a></li>
            <li><a href="@controllers.pages.routes.DatasetPagesController.listAll">Datasets</a></li>
            <li><a href="#">Places</a></li>
          </ul>
        </div> <!-- .row -->
      </div> <!-- #header-menu -->
    </div> <!-- #header -->
    
    <div id="content">
      <div class="row">
        <div class="totals">
          @objects.total Total Results
        </div> <!-- .totals -->
        
        <ul id="results">
          @for(obj <- objects.items) {
            <li class="result">
              <span class="type">Item</span>
              <span class="title">@obj.title</span>
              <span class="in-dataset">in <a href="#">The Fralin | UVa Art Museum Numismatic Collection</a></span>
              <span class="stats">2 references to 2 unique places</span>
            </li>
          }
        </ul>
      </div> <!-- .row -->
    </div> <!-- #content -->
  </body>
</html>
